In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import scipy.stats as stats

import warnings
warnings.filterwarnings('ignore')

### Step 1: Import Data

In [2]:
#to read csv of data
df= pd.read_csv('../../../WDIData.csv')

#to read csv of country names
df_country_names= pd.read_csv('../data/WDI_Country_Code_and_Names.csv',encoding = "ISO-8859-1")

#to read csv of indicators
df_list_indicators = pd.read_csv('../data/WDI_list_of_reviewed_indicators.csv')

### Step 2: Data Cleaning

In [3]:
#to grab the headers of the dataset
df_headers=list(df.columns.values)

In [4]:
#only pull the headers that are years
df_years = df_headers[-59:]

In [5]:
#only select previous years before 2010
df_years_drop = df_years[0:50]
#to make column '2018' a list
df_years_drop_2018 = list([df_years[-1]])

# to combine lists of years into 1 drop line
df_drop = df_years_drop + df_years_drop_2018

In [6]:
#to drop the years and create a summarized df
df_columns_removed = df.drop(df_drop,axis=1)
df_columns_removed.head()

,Country Name,Country Code,Indicator Name,Indicator Code,2010,2011,2012,2013,2014,2015,2016,2017
0,Arab World,ARB,"2005 PPP conversion factor, GDP (LCU per inter...",PA.NUS.PPP.05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Arab World,ARB,"2005 PPP conversion factor, private consumptio...",PA.NUS.PRVT.PP.05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Arab World,ARB,Access to clean fuels and technologies for coo...,EG.CFT.ACCS.ZS,82.407647,82.827636,83.169227,83.587141,83.954293,84.230630,84.570425,NaN
3,Arab World,ARB,Access to electricity (% of population),EG.ELC.ACCS.ZS,86.136134,86.782683,87.288244,88.389705,88.076774,88.517967,88.768654,NaN
4,Arab World,ARB,"Access to electricity, rural (% of rural popul...",EG.ELC.ACCS.RU.ZS,74.543489,75.770972,76.772916,78.839139,77.487377,78.564439,78.958780,NaN

In [7]:
#to preview df_country_names
df_country_names.head()

,Country Code,Short Name,Table Name,Long Name,2-alpha code
0,ABW,Aruba,Aruba,Aruba,AW
1,AFG,Afghanistan,Afghanistan,Islamic State of Afghanistan,AF
2,AGO,Angola,Angola,People's Republic of Angola,AO
3,ALB,Albania,Albania,Republic of Albania,AL
4,AND,Andorra,Andorra,Principality of Andorra,AD

In [8]:
#make a list of country short name
country_short_names = list(df_country_names['Short Name'])

In [9]:
#filter df by short names list
df_filter_cols_nd_cols_rem = df_columns_removed.loc[df_columns_removed['Country Name'].isin(country_short_names)]

In [10]:
df_filter_cols_nd_cols_rem.head()

,Country Name,Country Code,Indicator Name,Indicator Code,2010,2011,2012,2013,2014,2015,2016,2017
75153,Afghanistan,AFG,"2005 PPP conversion factor, GDP (LCU per inter...",PA.NUS.PPP.05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75154,Afghanistan,AFG,"2005 PPP conversion factor, private consumptio...",PA.NUS.PRVT.PP.05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75155,Afghanistan,AFG,Access to clean fuels and technologies for coo...,EG.CFT.ACCS.ZS,20.68,22.330000,24.08,26.170000,27.99,30.1,32.440000,NaN
75156,Afghanistan,AFG,Access to electricity (% of population),EG.ELC.ACCS.ZS,42.70,43.222019,69.10,67.259552,89.50,71.5,84.137138,NaN
75157,Afghanistan,AFG,"Access to electricity, rural (% of rural popul...",EG.ELC.ACCS.RU.ZS,32.40,33.380110,63.80,58.423667,87.80,64.2,78.961074,NaN

In [11]:
df_list_indicators.head()

                                      Indicator Name
0                            GDP (constant 2010 US$)
1  Population density (people per sq. km of land ...
2  Literacy rate, adult total (% of people ages 1...
3  Probability of dying at age 5-14 years (per 1,...
4                   GINI index (World Bank estimate)

In [12]:
indicators =  list(df_list_indicators['Indicator Name'])
indicators

['GDP (constant 2010 US$)',
 'Population density (people per sq. km of land area)',
 'Literacy rate, adult total (% of people ages 15 and above)',
 'Probability of dying at age 5-14 years (per 1,000 children age 5)',
 'GINI index (World Bank estimate)']

In [13]:
#filter by indicators
df_countries_indiciator = df_filter_cols_nd_cols_rem.loc[df_filter_cols_nd_cols_rem['Indicator Name'].isin(indicators)]

In [25]:
#remove unnessecary columns
df_wdi = df_countries_indiciator.drop(columns='Indicator Code')

In [26]:
# df_wdi.to_csv('../../../WDI_Happiness_Data.csv', sep=',' , encoding= 'utf-8', index=False)

### Step 4: Reshaping the Data

WHERE THE CHAOS BEGINS

In [27]:
df_wdi.head()

,Country Name,Country Code,Indicator Name,2010,2011,2012,2013,2014,2015,2016,2017
75666,Afghanistan,AFG,GDP (constant 2010 US$),1.585657e+10,1.592418e+10,1.795488e+10,1.896048e+10,1.947707e+10,1.975974e+10,2.020638e+10,2.074494e+10
75693,Afghanistan,AFG,GINI index (World Bank estimate),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75928,Afghanistan,AFG,"Literacy rate, adult total (% of people ages 1...",NaN,3.174112e+01,NaN,NaN,NaN,NaN,NaN,NaN
76284,Afghanistan,AFG,Population density (people per sq. km of land ...,4.411844e+01,4.550531e+01,4.701920e+01,4.860412e+01,5.017618e+01,5.167493e+01,5.308341e+01,5.442221e+01
76438,Afghanistan,AFG,"Probability of dying at age 5-14 years (per 1,...",1.150000e+01,NaN,NaN,NaN,NaN,1.040000e+01,NaN,9.900000e+00

In [28]:
years = list(df_wdi.iloc[:,3:].columns)
years

['2010', '2011', '2012', '2013', '2014', '2015', '2016', '2017']

In [32]:
i = 0
world_bank_indicators = []


while i < len(years):
    
    # to create a df of series
    wdi_data = df_wdi[['Country Code','Country Name', 'Indicator Name', years[i]]]
    wdi_data = wdi_data.rename(columns={'Country Code':'COU','Country Name':'Country'})
    
    
    # to reshape the data
    wdi = pd.pivot_table(wdi_data, values=years[i], index=['COU','Country'], columns=['Indicator Name'], aggfunc= np.sum)
    wdi.reset_index()
    
    # data cleaning
    wdi_df = wdi.dropna(axis=0, how='all').reset_index()
    
    #append a country code
    
    
    # append to list
    world_bank_indicators.append(wdi_df)
    
    # to create csv
    world_bank_indicators[i].to_csv(f'../../../WDI_Data_Happiness_Table_{years[i]}.csv', sep=',' , encoding= 'utf-8', index=False)
    
    print(f"Complete Dataframe for year: {years[i]}")

    i += 1

Complete Dataframe for year: 2010
Complete Dataframe for year: 2011
Complete Dataframe for year: 2012
Complete Dataframe for year: 2013
Complete Dataframe for year: 2014
Complete Dataframe for year: 2015
Complete Dataframe for year: 2016
Complete Dataframe for year: 2017

In [33]:
world_bank_indicators[0]

Indicator Name,COU,Country,GDP (constant 2010 US$),GINI index (World Bank estimate),"Literacy rate, adult total (% of people ages 15 and above)",Population density (people per sq. km of land area),"Probability of dying at age 5-14 years (per 1,000 children age 5)"
0,ABW,Aruba,2.390503e+09,0.0,96.822639,564.827778,0.0
1,AFG,Afghanistan,1.585657e+10,0.0,0.000000,44.118443,11.5
2,AGO,Angola,8.379950e+10,0.0,0.000000,18.744791,23.3
3,ALB,Albania,1.192696e+10,0.0,0.000000,106.314635,2.8
4,AND,Andorra,3.355695e+09,0.0,0.000000,179.678723,1.0
...,...,...,...,...,...,...,...
192,WSM,Samoa,6.430467e+08,0.0,0.000000,65.796820,3.9
193,XKX,Kosovo,5.830464e+09,33.3,0.000000,163.100946,0.0
194,ZAF,South Africa,3.753490e+11,63.4,92.877319,42.523360,13.3
195,ZMB,Zambia,2.026556e+10,55.6,83.007668,18.630911,17.3
196,ZWE,Zimbabwe,1.204166e+10,0.0,0.000000,36.412865,15.9